<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app"
        android:label="AI YOGA GUIDE"
        android:roundIcon="@mipmap/ic_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.AIYogaGuide"
        tools:targetApi="31">
        <activity
            android:name=".NavLogout"
            android:exported="false" />
        <activity
            android:name=".NavShare"
            android:exported="false" />
        <activity
            android:name=".Meditation"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".OnbordingActivity2"
            android:exported="false" />
        <activity
            android:name=".OnbordingMain"
            android:exported="true" />
        <activity
            android:name=".NavSetting"
            android:exported="false" />
        <activity
            android:name=".NavAbout"
            android:exported="false"
            android:theme="@style/Theme.AIYogaGuide" />
        <activity
            android:name=".NavHome"
            android:exported="false" />
        <activity
            android:name=".NavActivity"
            android:exported="true"
            android:theme="@style/Theme.AIYogaGuide">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".Tips"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".YogaPoseStepsActivity"
            android:exported="true" />
        <activity
            android:name=".YogaPoseInfoActivity"
            android:exported="false" />
        <activity
            android:name=".PoseDetectionActivity"
            android:exported="false" />
        <activity
            android:name=".HomePageActivity"
            android:exported="false" />
        <activity
            android:name=".YogaPoseDetectionActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".UserLoginActivity"
            android:exported="true" />
        <activity
            android:name=".UserRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>